*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles
/.idea/deploymentTargetDropDown.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/app/release/app-release.apk
/app/release/output-metadata.json
/app/dev/release/app-dev-release.apk
/.idea/dynamic.xml
/app/dev/release/output-metadata.json
app/pro/release/app-pro-release.apk
app/pro/release/output-metadata.json
app/pro/debug/app-pro-debug.apk
app/pro/debug/output-metadata.json
